:root {
  --primary-color: #0fa4af;
  --secondary-color: #003134;
  --logo-color: #964734;
  --background-color: radial-gradient(ellipse at bottom, #003135 0%, #024950 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#LoginPage {
  padding: 20px;
  display: flex;
  min-height: 100vh;
  align-items: center;
  font-family: 'Raleway';
  justify-content: center;
  /* background-image: url('../public/background.gif'); */
  /* background-image: url('../public/1120900.jpeg.jfif'); */
  /* background-image: url('../public/pexels-jnovphoto-924824.jpg'); */
  flex-direction: column;
  gap: 20px;
  background: var(--background-color);
  background-size: cover;
  background-position: center;
}

#mainButton {
  color: white;
  border: none;
  outline: none;
  font-size: 24px;
  font-weight: 200;
  overflow: hidden;
  position: relative;
  border-radius: 2px;
  letter-spacing: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-transform: uppercase;
  background-color: var(--primary-color);
  transition: all 0.2s ease-in;
}

#mainButton .btn-text {
  z-index: 2;
  display: block;
  padding: 10px 20px;
  position: relative;
}

#mainButton .btn-text:hover {
  cursor: pointer;
}

#mainButton:after {
  top: -50%;
  z-index: 1;
  content: '';
  width: 150%;
  height: 200%;
  position: absolute;
  left: calc(-150% - 40px);
  background-color: rgba(255, 255, 255, 0.2);
  transform: skewX(-40deg);
  transition: all 0.2s ease-out;
}

#mainButton:hover {
  cursor: default;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#mainButton:hover:after {
  transform: translateX(100%) skewX(-30deg);
}

#mainButton.active {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#mainButton.active .modal {
  transform: scale(1, 1);
}

#mainButton .modal {
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: inherit;
  transform-origin: center center;
  background: var(--secondary-color);
  transform: scale(0.000001, 0.00001);
  transition: all 0.2s ease-in;
}

.close-button {
  top: 20px;
  right: 20px;
  position: absolute;
  transition: opacity 0.2s ease-in;
}

.close-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.form-title {
  margin-bottom: 15px;
  font-weight: 600;
}

.form-button {
  width: 100%;
  padding: 10px;
  color: var(--secondary-color);
  margin-top: 10px;
  max-width: 400px;
  text-align: center;
  border: solid 1px var(--primary-color);
  background-color: var(--primary-color);
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

.form-button:hover {
  color: white;
  cursor: pointer;
  background-color: transparent;
}

/* handle MF autofill */
input:-webkit-autofill {
  box-shadow: 0 0 0 30px var(--secondary-color) inset !important;
  -webkit-text-fill-color: white !important; 
}

input:-webkit-autofill:hover {
  box-shadow: 0 0 0 30px var(--secondary-color) inset !important; 
  -webkit-text-fill-color: white !important; 
}
input:-webkit-autofill:focus {
  box-shadow: 0 0 0 30px var(--secondary-color) inset !important; 
  -webkit-text-fill-color: white !important;
  caret-color: white !important;
}

.input-group {
  width: 100%;
  font-size: 16px;
  max-width: 400px;
  padding-top: 20px;
  position: relative;
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  color: white;
  border: none;
  outline: none;
  padding: 5px;
  line-height: 1;
  font-size: 16px;
  font-family: 'Raleway';
  border: solid 1px white;
  border-radius: 5px;
  background-color: transparent;
  transition: box-shadow 0.2s ease-in;
}

.input-group input + label {
  left: 5px;
  top: 26px;
  position: absolute;
  pointer-events: none;
  transition: all 0.2s ease-in;
}

.input-group input:focus + label,
.input-group input.active + label {
  font-size: 12px;
  background: var(--secondary-color);
  padding: 0 5px;
  transform: translateY(-6px) translateX(10px);
  left: 0px;
  top: 19px;
}

.codepen-by {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  position: absolute;
  text-align: center;
  text-transform: none;
  letter-spacing: initial;
}
  
.context h1{
  text-align: center;
  color: white;
  font-size: 50px;
  /* opacity: 0.5; */
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

#LoginError {
  display: none;
  font-size: 16px;
  padding: 7px;
  color: var(--background-color);
  background-color: var(--logo-color);
  opacity: 0;
  transition: opacity 0.5s;
}

.deactive {
  display: none;
}

@keyframes animate {

  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100%{
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}